/* Global Styles */
body {
    background-color: powderblue;
  }
  
  /* Header Styles */
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  
  /* Paragraph Styles */
  p {
    color: red;
    font-family: courier;
    font-size: 160%;
  }
  
  /* Link Styles */
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  